
body {
    background-image: url("fundo-preto-com-luz-de-ponto-de-foco_1017-27230.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    color: #a89969;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.voltar {
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.voltar a {
    text-decoration: none;
}


.container {
    background: #2a2a2a;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    width: 90%;
    max-width: 350px;
    text-align: center;
    border: 1px solid #3a3a3a;
    margin-top: 40px;
}


h1 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 300;
}


